extends layout

block content
	h2 Corporation List
	table.table.table-dark.table-hover.table-striped
		thead
			tr
				th Corporation Name
				th Kills
				th Losses
		tbody
			if corporations.length
				for corporation in corporations
					tr
						td 
							a(href='/corporations?id=#{corporation.id}') #{corporation.name}
						td N/A
						td N/A