body {
	background: url('../images/background.jpg');
	background-size: cover;
}

a {
    color: #f8f8ff;
}

a:hover {
    color: #f8f8ff;
    text-decoration: none;
}

h2 {
	color: #f8f8ff;
}

p {
	color:#f8f8ff;
}

.dropdown-menu {
	background-color: #343a40;
}

.dropdown-menu a {
	color: #f8f8ff;
}